@import "config";
@import url(https://fonts.googleapis.com/css?family=Lora|Roboto+Mono&display=swap);

$gutter-half: $gutter * 0.5;
$gutter-twice: $gutter * 2;
$gutter-thrice: $gutter * 3;
$font-main: Lora, serif;
$font-title: Roboto Mono, monospace;
$black-color: #000;
$dark-grey-color: #999;
$grey-color: #aaa;
$light-grey-color: #ccc;
$blue-color: #2d2;
$dark-blue-color: #1a1;
$yellow-color: #fcffd2;
$pink-color: #cc9694;
$small-font: 16px;
$medium-font: 24px;
$large-font: 32px;
$huge-font: 48px;

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll; // alltaf hafa y skrollbar

  font-family: $font-main;
  font-size: 16px;
}

img { /* stylelint-disable-line */
  max-width: 100%;
}

.fyrirlestrar{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 120px;
  padding-right: 120px;
  overflow: hidden;
}
.box {
  margin: $gutter-half;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  //Þyrfti að vera display:none til að filtera út en náðum ekki klára kóðann innan tíma.
}
.flokkur{
  background-color: $yellow-color;
  height: 200px;
  max-height: 200px;
  padding: 10px;
}
.tegund:hover{
  background-color: $dark-grey-color;
}
.flokkur:hover + .tegund {background-color: $dark-grey-color;}

.flokkur-empty{
  background-color: $grey-color;
  height: 300px;
  padding: 10px;
}
.flokkur-empty:hover{
  background-color: $dark-grey-color;
}
.flokkur-empty:hover + .tegund{background-color: $dark-grey-color;}
.tegund{
  background-color: $grey-color;
  height: 150px;
  max-height: 150px;
  padding: 10px;
}
#buttons{
  text-align: center;
  margin-bottom: 20px;
}
button{
  background-color: $grey-color;
  border-radius: 15px;
  color: $black-color;
  font-family: $font-main;
  font-size: $medium-font;
  font-weight: bold;
  padding: $gutter-half $gutter;
}
button:hover{
  background-color: $pink-color;
}
header{
  margin-bottom: $gutter * 2;
  background-image: url("../img/header.jpg");
  background-size: cover;
  background-position: center;
  height: 200px;
  text-align: center;
  padding-top: 65px;
}
.btn.active {
  background-color:$pink-color;
  color: $black-color;
}
a {
  text-decoration: none;
  color: $black-color;
}
.show {
  display: block;
}

#htmlButton{
  background-color: $blue-color;
}
#cssButton{
  background-color: $blue-color;
}
#javaButton{
  background-color: $blue-color;
}
